@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../../images/background/backgroundS.png');
}

 .form {
    padding: 20px;
    padding-bottom: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 400px;
    animation: fadeIn 0.8s ease-in-out; /* إضافة تأثير ظهور */
}

.imgPassword {
    display: flex;
    justify-content: center; 
}

.form h4 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.form span {
    color: #969696;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px !important;
}

.form img{
    width: 190px;
    margin-bottom: 15px;
}

.inputcontainer {
    position: relative;
    margin-bottom: 20px;
}

.inputcontainer label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    background: white;
    padding: 0 5px;
    font-size: 14px;
    color: #888;
    transition: top 0.3s ease, left 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.inputcontainer input {
    width: 100%;
    padding: 8px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.inputcontainer input:focus + label,
.inputcontainer input:not(:placeholder-shown) + label {
    top: 0;
    left: 10px;
    font-size: 12px;
    color: #333;
    border-color: #F8A70F;
}

.form .feilds
{
    margin-top: 20px;
}

.PasswordBtn
{
    width: 100%;
    background-color: #F8A70F;
    border:#F8A70F solid ;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 600;
    font-size: 18px;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.2s ease;
    margin-top: 50px;
}

.PasswordBtn:hover
{
   
    background-color:#efcf94;
    border-color: #efcf94;
    transform: scale(1.02);
}

.PasswordBtn:active {
    transform: scale(0.98);
}
