.link-navdashboard {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    margin-top: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
    border-radius: 12px;
  }
  
  .link-navdashboard:hover {
    background-color: #F6EFD9;
    color: #000;
    transform: scale(0.78);
  }
  
  .link-navdashboard:active {
    background-color: #F6EFD9;
    transform: scale(0.85);
  }
  
  .icon-navdashboard {
    font-size: 20px;
    color: inherit;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .link_text-navdashboard {
    font-size: 20px;
    transition: opacity 0.3s ease;
  }
  
 