.body {
    height: fit-content;
    background-image: url('../../../../images/background/backgroundArchive.png');
}

.search {
    margin-top: 100px !important;
    margin-bottom: 50px !important;
    width: 60%;
    margin: auto;
}

.searchinput {
    border: 1px solid #F8A70F;
    background-color: #F5F5F5;
}

.searchbtn {
    color: #fffafa;
    background-color: #F8A70F;
    border: 1px solid #F8A70F;
    padding-inline: 15px;
    border-radius: 5px;
}

.btnGroupCustom {
    display: flex;
    justify-content: center;
    gap: 8px;
    border: 1px solid #F8A70F;
    width: 250px;
    padding: 10px;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.btnGroupCustom .btn {
    color: #fffafa;
    background-color: #F8A70F;
    border: 1px solid #F8A70F;
    padding-inline: 15px;
    border-radius: 5px;
}

.btnGroupCustom .btn:hover {
    background-color: #efcf94;
    border-color: #efcf94;
}

.activeBtn {
    background-color: #efcf94 !important;
    color: white;
    font-weight: bold;
    border: 2px solid #efcf94 !important;
}

.sectionAdminControls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    margin-block: 20px;
}

.cards a:link,
.cards a:visited,
.cards a:hover,
.cards a:active {
    text-decoration: none;
    color: inherit;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.addBtn {
    background: #e69500;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: background 0.3s;
}

.addBtn:hover {
    background: #ffe0a7;
}

.addBtn:active {
    background: #ffe0a7 !important;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h5 {
    text-decoration: none;
    text-align: center;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: fill;
}

.sectionAdminControlsComp {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-block: 15px;
}

.editBtn,
.deleteBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    transition: background 0.3s;
}

.editBtn {
    background-color: transparent;
    color: #f8a70f;
    font-weight: 500;
    transition: all 0.2s;
}

.editBtn:hover,
.editBtn:focus {
    background-color: rgba(248, 167, 15, 0.1);
    transform: translateY(-1px);
}

.editBtn:active {
    background-color: rgba(248, 167, 15, 0.2) !important;
}

.deleteBtn {
    color: #F44336;
}

.deleteBtn:hover,
.deleteBtn:active {
    background: rgba(244, 67, 54, 0.1) !important;
}

h2.noResults {
    font-size: 20px;
    color: rgb(56, 54, 54);
}